.inputArea{
    height: 120px;
    border-top: 1px solid #AAA;
    min-height: 120px;
    /* resize: vertical; */
    overflow: scroll;
    cursor: ns-resize;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.tools{
    height: 30px;
    cursor: default;
}

.tools i{
    margin: 7px 0px 5px 19px;
    color: #9b9b9b;
    cursor: pointer;
    transition: 0.5s ease-in-out ;
}

.tools i:hover{
    color: #3260c2;
}

.inputArea textarea{
    border: none;
    flex: 1 1;
    background: #FFF0;
    display: flex;
    align-content: center;
    resize: none;
    padding: 8px 12px;
    font-size: 16px;
}

.inputArea textarea:focus-visible{
    outline: none;
}

.btns{
    height: 36px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 2px 20px;
}

.btns .send{
    height: 26px;
    color: #1e71be;
    background: #FFF;
    border: 1px solid #AAA;
    border-radius: 5px;
    padding: 2px 8px;
    cursor: pointer;
    transition: 0.5s ease-in-out ;
    white-space: pre;
}

.btns .send:hover{
    background: #1e71be;
    color: #FFF;
    border: 1px solid #AAA;
}